/****************************
Luis Manuel Solares García - UO282631
Descripción de estilos
****************************/

/*Specificity: (0,0,1)*/
main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2em;
}

/*Specificity: (0,0,1)*/
body {
    color: black;
    background-color: lightcyan;
}

/*Specificity: (0,1,1)*/
input[type=submit]{
    margin: 0.3em;
    border-color: whitesmoke;
}

/*Specificity: (0,0,1)*/
section {
    border: 0.5em;
    border-color: black;
    border-style: double;
    padding: 2em;
    border-radius: 0.5em;
}
